.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid blue; /* Blue color */
  border-radius: 50%;
  width: 50px; /* Medium size */
  height: 50px; /* Medium size */
  animation: spin 1s linear infinite; /* Spin animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

p {
  margin-top: 10px; /* Spacing between spinner and text */
  font-size: 18px; /* Adjust font size as needed */
}
